
*{
    margin: 0;
    font-family: 'Montserrat', Arial, sans-serif; 
}
a{
    text-decoration: none;
}
.header{
    display: -webkit-flex;
    justify-content: space-between ;
    align-items: center;
    padding: 40px 60px 0 43px;
    top: 40px;
    width: 100%;
    max-width: 1440px;
    margin: 0 auto;
    background-color: #ffffff;
    box-sizing: border-box;
}
.menu{
    position: relative;
}
.menu-model__item {
    /*top: 40px;*/
    font-weight: 600;
    font-size: 15px;
    line-height: normal;
    color: #000000;
    margin-right: 40px;
}
.menu-model__item__active{
    margin-right: 40px;
    color: #E51937;
    text-decoration: underline;
    font-weight: 600;
}
.menu-model__item__active:hover{
    text-shadow: #E51937 2px;
}
.side-menu__item{
   display: inline;
   position: relative; 
   font-weight: 600;
   font-size: 15px;
   line-height: normal;
   color: #000000;
   margin-right: 25px;
}
.button__burger{
    border: none;
    background-color: #ffffff;
    cursor: pointer;
}
/*description of second section*/
.section-second{
    position: relative;
    overflow: hidden;
}
.title{
    /*margin-top: 134px;*/
    text-align: center;
    font-style: normal;
    font-weight: 600;
    font-size: 90px;
    line-height: 110px;
    margin-top: 68px;
    margin-bottom: 0;

}
.subtitle{
    text-align: center;
    margin-top: 0px;
    margin-bottom: 27px;
    font-weight: 500;
    font-size: 15px;
    line-height: normal;
    color: #000000;
    letter-spacing: 0.5;
}
.wordmark__inner{
    width: 100%;
}
.wordmark__background{
    position: absolute;
    top: 55px;
    max-width: 100%;
    width: 1514px;
}
.car{
    width: 968px;
    height: 450px;
    top: 278px;
    display: flex;
    justify-content: center;
    align-items: top;
    margin: 0 auto;
}
.speed__wheel{
    left: 321px;
    position: absolute;
    width: 60px;
    height: 50px;
}
.speed{
    width:
}
.value-first{
    font-weight: 600;
    font-size: 35px;
    line-height: 43px;
}
.value-second{
    font-weight: normal;
    font-size: 12px;
    line-height: 15px;
}
.value-third{
    font-weight:  600;
    font-size: 35px;
    line-height: 43px;
    
}
.value-fourth{
    font-weight: normal;
    font-size: 12px;
    line-height: 15px;
}
.order__wheel{
    width: 14.18px;
    height: 8.23px;
}
.link{
    font-weight: bold;
    font-size: 13px;
    line-height: 16px;
    text-align: center;
    text-transform: uppercase;
    color: #000000;
}
.section-second__btn{
    width: 160px;
    height: 40px;
    border: 2px solid #E51937;
    box-sizing: border-box;
    color: #E51937;
    font-size: 13px;
    line-height: 16px;
    background-color: transparent;
}
.tick{
    width: 28px;
    height: 14px;
}
.description{
    flex: 1;
    max-width: 450px;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
  /*  max-width: 798px;
    width: 100%;
    margin: 0 auto;
    padding-left: 10px;*/
}
.description__value{
    display:flex;
    flex-direction: column;
}
.description__first{
    display: flex;
}
.description__second{
    display: flex;
    justify-content: space-between 2px;
}
.section__order{
    flex: 1;
    justify-content: space-between; 
    min-width: 315px;
    padding-left: 55px;
}
.wrap{
    display: flex;
    justify-content: space-between;
    width: 80%;
    margin: auto;
}