
*{
    margin: 0;
    font-family: 'Montserrat', Arial, sans-serif; 
}
body{
    min-width: 360px;
}
a{
    text-decoration: none;
}
.header{
    display: flex;
    justify-content: space-between ;
    align-items: center;
    padding: 40px 60px 0 60px;
    width: 100%;
    max-width: 1440px;
    margin: 0 auto;
    background-color: #ffffff;
    box-sizing: border-box;
    margin-bottom: 50px;
}
.menu-model_item {
    font-weight: 600;
    font-size: 15px;
    line-height: normal;
    color: #000000;
    margin-right: 40px;
}
.menu-model__item_active{
    margin-right: 40px;
    color: #E51937;
    text-decoration: underline;
    font-weight: 600;
}
.menu-model__item_active:hover{
    text-shadow: 1px 1px 1px #E51937;
    color: #E51937;
    border-bottom: 2px;
    padding: 5px;;
}
.side-menu{
    display: flex;
    align-items: center;
}
.side-menu_item{
   display: inline;
   position: relative; 
   font-weight: 600;
   font-size: 15px;
   line-height: normal;
   color: #000000;
   margin-right: 25px;
}
.button__burger{
    display: inline-flex;
    border: none;
    background-color: #ffffff;
    cursor: pointer;
}
/*description of second section*/
.section-second{
    position: relative;
    background: url(./img/Tesla-Wordmark-Red-Background.png) no-repeat;
     background-size: contain;
     background-position: 20% 10%;
}
.title{
    text-align: center;
    font-style: normal;
    font-weight: 600;
    font-size: 90px;
    line-height: 110px;
    margin-bottom: 0px;

}
.subtitle{
    text-align: center;
    margin-top: 0px;
    margin-bottom: 27px;
    font-weight: 500;
    font-size: 15px;
    line-height: normal;
    color: #000000;
    letter-spacing: 0.5px;
}
.wordmark__inner{
    width: 100%;
}
.wordmark__background{
    position: absolute;
    top: 55px;
    max-width: 100%;
    width: 1514px;
}
.wrap{
    margin-bottom: 23px;
}
.car{
    width: 978px;
    height: 450px;
    top: 278px;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    margin: 0 auto;  
}
.speed{
    width: 75px;
}
.value-first{
    font-weight: 600;
    font-size: 32px;
    line-height: 43px;
}
.value-second{
    font-weight: normal;
    font-size: 12px;
    line-height: 15px;
}
.value-third{
    font-weight:  600;
    font-size: 35px;
    line-height: 43px;
    
}
.value-fourth{
    font-weight: normal;
    font-size: 12px;
    line-height: 15px;
}
.order__wheel{
    width: 14px;
    height: 8px;
}
.wrap__wheel{
    display: flex;
    align-items: center;
}
.wheel__red{
    display: none;
}
.link{
    font-weight: bold;
    font-size: 13px;
    line-height: 16px;
    text-align: center;
    text-transform: uppercase;
    color: black;
}
.section-second_btn{
    width: 160px;
    height: 40px;
    border: 2px solid #E51937;
    box-sizing: border-box;
    color: #E51937;
    font-size: 13px;
    line-height: 16px;
    background-color: transparent;
    font-weight: bold;
    cursor: pointer;
    text-transform: uppercase;
}
.section__order_btn{
    display: flex;
    align-items: center;
}
.description{
    display: flex;
    justify-content: space-evenly;
    margin-bottom: 82px;
    width: 887px;
    margin: 34px auto;
}
.road-icon_red{
    display: none;
}
.speed__wheel_all{
    display: flex;
}
.description__second_all{
    display: flex;
}
.section__order{
    display:flex;
}
.section__tick{
    display: flex;
    justify-content: center;
}
@media screen and (max-width: 1024px){
    .menu{
        display: none;
    }
    .side-menu_item{
        display: none;
    }
    .car{
      width: 761px;
      height: 396px;
      top: 267px;  
    }
    .description{
       display: flex;
        justify-content: space-evenly;
        flex-wrap: wrap;
    }
    .speed__wheel{
        margin-right: 10px;
    }
}
@media screen and (max-width: 900px){
    .section-second{
        background-position: 35px 90px;
    }
    .header{
        margin-bottom: 15px;
    }
}
@media screen and (max-width: 768px){
    .car{
        width: 100%;
        height: 100%;
    }
    .description{
        width: 400px;
        margin: 0 auto;
    }
    .title{
        font-size: 90px;
    }
    .subtitle{
        font-size: 15px;
    }
    .value-first,
    .value-third{
        font-size: 35px;
    }
    .value-first_cm,
    .value-third_km{
        font-size: 15px;
    }
    .speed {
        width: 75px;
        padding-right: 15px;
    }
    .road-icon{
        display: none;
    }
    .road-icon_red{
        display: block;
        width: 35px;
        padding-right: 15px;
    }
    .link{
        color: #E51937;
    }
    .section-second_btn{
        color: #ffffff;
        background-color: #E51937;
    }
    .wheel{
        display:none;
    }
    .wheel__red{
        display: block;
        margin-right: 23px;
    }
    .speed__wheel_all{
        margin-bottom: 30px;
    }
    .wrap{
        margin-bottom: 58px;
    }
}
@media screen and (max-width: 460px){
    .title{
        font-size: 50px;
    }
    .subtitle{
        font-size: 10px;
    }
    .wrap{
        margin-bottom: 18px;
    }
    .speed__wheel{
        width: 38px;
        padding-right: 35px;
    }

    .wheel__red{
        margin-right: 10px;
    }
    .value-first{
        font-size: 27px;
    }
    .value-first_cm,
    .value-third_km{
        font-size: 15px;
    }
    .road-icon_red{
        width: 30px;
    }
    .value-third{
        font-size: 27px;
    }
    p{
        font-size: 10px;
    }
   .header{
       padding: 10px;
   }
   .title{
       line-height: 61px;
   }
   .section-second{
       background-position: 3px 50px;
   }
}
@media screen and (max-width: 450px){
    .description{
        width: 100%;
    }
}


